.para3 {
    font-size: 25px;
    border: 3px solid lightcoral;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.para4 {
    font-size: 25px;
    border: 3px solid lightcoral;
    width: 20%;
    display: flex;
    flex-direction: row;
}
.shellGame {
    display: flex;
    flex-direction: row;
}

.shellsss {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    padding: 15px;    
}

.ball {
    height: 150px;
    width: 100px;

}

.button {
    color: lightcoral;
    font-size: 25px;
    margin: 10px;
}

/* .results {
    border: 3px solid blue;
} */

.hide {
    display: none;

}

.reveal {
    display: block;
}

/* .shell {
border: 4px solid lightgreen;
} */


